html {
    font-size: 100%;
}

body {
    margin: 0px;
    font-family: interstate, sans-serif;
    font-weight: 500; 
    background: rgb(244, 245, 247);
    color: rgb(72, 86, 111);
}

#header {
    margin: 7em 0 8em 0;
}

ul {
    list-style-type: none; 
    margin: 0.5em 0 1.2em 0;
    padding: 0;
    display: inline-block;
}

li {
    margin: 0;
    padding-right: 1.5em;
    float: left;
}


#header ul {
    margin-top: 1em;
}

#header li {
    margin-right: 1.6em;
}

#header a {
    text-decoration: none;
    color: rgb(61, 98, 164);
    transition: .2s ease;
    opacity: 0.8;
}

#header a:hover {
    opacity: 1;
}

.container {
    max-width: 57em;
    margin: 0 auto;
    padding: 0 1.5em 0 1.5em;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2.125em;
    margin: 0 0 0.125em 0;
}

h3 {
    margin: 0 0 0.25em 0;
    font-size: 1.375em;;
    font-weight: 500;
    line-height: 1.4;
}

h3 img {
    vertical-align: middle;
    width: 1.2em;
    margin-top: -0.2em;
}

h4 {
    color: rgb(88, 101, 124);
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 0.25em 0;
}

.folio-item {
    margin: 0 0 14em 0;
}

.skills li {
    opacity: 0.7;
}


.folio-hero {
    width: 100%;
    height: 20em;
    background: white;
    border-radius: 0.625em;
    box-shadow: 0 0.625em 1.875em rgba(72, 86, 111, 0.2);
    transition: 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.folio-hero:hover {
    transform: scale(1.01);
    box-shadow: 0 0.625em 2em rgba(72, 86, 111, 0.18);
}

.folio-hero:hover .play-video {
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.folio-item a:active .folio-hero {
    transform: scale(0.99);
    box-shadow: 0 0 0 rgba(72, 86, 111, 0);
}

.play-video {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 0.5em;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .2s ease;
    border-radius: 2em;
}

.play-video:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.play-video img {
    width: 1.5625em;
    margin-right: 0.6em;
}

#shortcuts {
    background: url('../img/shortcuts.png') bottom no-repeat;
    background-size: cover;
}

#workflow {
    background: url('../img/workflow.png') bottom no-repeat;
    background-size: cover;
}

#voteplz {
    background: url('../img/voteplz.png') bottom no-repeat;
    background-color: rgb(79, 110, 166);
    background-size: auto 90%;
}

#automaton {
    background: url('../img/automaton.png') center no-repeat;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

#treehacks {
    background: url('../img/treehacks.png') center no-repeat;
    background-color: rgb(255, 92, 76);
    background-size: 24.5em;
}

#deskconnect {
    background: url('../img/deskconnect.png') bottom no-repeat;
    background-color: rgb(45, 61, 83);
    background-size: 18em auto;
}

#atbay {
    background: url('../img/atbay.png') center center no-repeat;
    background-size: cover;
}

#watermark {
    margin: 0 0 14em 0;
    text-align: center;
}

#watermark img {
    width: 10em;
}

@media (max-width: 720px) {
    #header li {
        margin-right: 0.7em;
        margin-bottom: 0.4em;
    }

    .folio-hero {
        height: 16em;
    }

    #workflow {
        background-size: 40em auto;
    }

    #treehacks {
        background-size: 20em;
    }

    #automaton {
        background-size: 40em;
    }
}

@media (max-width: 540px) {
    #header li {
        float: none;
    }

    .folio-hero {
        height: 12em;
    }

    .skills li {
        margin-bottom: 0.3em;
    }

    #workflow {
        background-size: 36em auto;
    }

    #deskconnect {
        background-size: 10em auto;
    }
}
